<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IndexRange" version="1.0.2" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="System.Collections.Immutable" version="6.0.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.5" />
  <package id="TLSharp" version="0.1.0.574" manuallyInstalled="true" />
  <package id="TLSharp.NetStandard" version="1.0.1" manuallyInstalled="true" />
  <package id="WTelegramBot" version="7.2.0" manuallyInstalled="true" />
  <package id="WTelegramClient" version="4.1.1" />
</packages>